
#map{
    height: 90%;
    width:100%;
    margin: 0 auto;
    float: right;
}

.bg-blue{
  background-color:#1473E7;
}

.mainframe { 
    width: 800px;
    margin: 0 auto;
}
.leftframe    {
    float: left;
}

.rightframe  {
    margin-left: 150px;
}

.left-space{
    padding-left: 10px;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: white; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    color:black;
    /* margin-top:5%; */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: black;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
    padding: 20px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
.sidenavmargindetails{
  margin-left:30px;
}


  
/* change width of navbar */
  .navbar-nav > li > a {padding-top:25px !important; padding-bottom:25px !important;}
.navbar {min-height:40px !important}

/* change nav item color */
.nav.navbar-nav.navbar-right li a {
  color: white;
}

.black-text{
  color:black;
}


/* map width */
.map-width{
  width:80%;
}
